<link type="text/css" rel="stylesheet" href="assets/css/lightslider.min.css" />
<link type="text/css" rel="stylesheet" href="assets/css/lightgallery.min.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="assets/js/lightslider.min.js"></script>
<script src="assets/js/lightgallery.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    $('#lightSlider').lightSlider({
        item: 3,
        slideMove: 1,
        slideMargin: 9,
        autoWidth: false,
        loop: false,
        mode: 'slide',
        auto: false,
        controls: false,
        keyPress: true,
        enableDrag: false,
        onSliderLoad: function(el) {
            $('#lightSlider').removeClass('cS-hidden');
            el.lightGallery({
                selector: '#lightSlider .lslide',
                enableDrag: false
            });
        },
        responsive : [
            {
                breakpoint: 1120, // ? = 16 * 70em when sidebar moves
                settings: {
                    item: 2,
                    slideMove: 1,
                    slideMargin: 7,
                }
            },
            {
                breakpoint: 560, // ? = 8 * 70em when sidebar moves
                settings: {
                    item: 1,
                    slideMove: 1,
                    slideMargin: 3,
                }
            }
        ]
    });  
});
</script>
